<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>UNITS Manager Dashboard</h1>
    <nav>
      <ul>
        <li><a href='/units'>UNITS</a></li>
        <li><a href='/deliveries'>Deliveries</a></li>
      </ul>
    </nav>
  </body>
</html>
