<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Delivery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/deliveries'>Deliveries</a></li>
      </ul>
    </nav>
    <h1>Change Delivery Info</h1>
    <main>
      <form action="/deliveries/<%=delivery._id%>?_method=PUT" method="POST">
        <input type="text" name="scheduled" value='<%=delivery.scheduled%>'/><br/>
        <input type="text" name="customer" value="<%=delivery.customer%>"/><br/>
        <input type="submit" value="Update Delivery"/>
      </form>
    </main>
  </body>
</html>
