<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deliveries DashBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <nav>
      <ul class="nav nav-pills">
        <li role="presentation"><a href='/'>Dashboard</a></li>
        <li role="presentation"><a href='/customers'>Customers</a></li>
        <li role="presentation"><a href='/units'>UNITS</a></li>
        <li role="presentation" class="active"><a href='/deliveries'>Deliveries</a></li>
        <li role="presentation"><a href='/transactions'>Transactions</a></li>
      </ul>
    </nav>
    <h1>Deliveries DashBoard</h1>
    <h2>Deliveries</h2>
    <section>
      <ul>
        <li><a href='/deliveries/new/'>Add Delivery</a></li>
      </ul>
    </section>
    <h3>All Deliveries</h3>
    <h3><%= moment().format('DD-MM-YYYY'); %></h3>
    <ul>
      <% for(var i = 0; i < allDeliveries.length; i++){%>
        <li>
          <a href='/deliveries/<%=allDeliveries[i]._id%>'><%=allDeliveries[i].firstName%> <%=allDeliveries[i].lastName%></a>
        </li>
      <%}%>
    </ul>

  </body>
</html>
