<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Transaction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/transactions'>Transactions</a></li>
      </ul>
    </nav>
    <h1>Change Transaction Info</h1>
    <main>
      <form action="/transactions/<%=transaction._id%>?_method=PUT" method="POST">
        <input type="text" name="customer" value='<%=transaction.customer%>'/><br/>
        <input type="text" name="total" value="<%=transaction.total%>"/><br/>
        <input type="submit" value="Update Transaction"/>
      </form>
    </main>
  </body>
</html>
