<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Transactions DashBoard</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
      </ul>
    </nav>
    <h1>Transactions DashBoard</h1>
    <h2>Transactions</h2>
    <section>
      <ul>
        <li><a href='/transactions/new/'>Add Transaction</a></li>
      </ul>
    </section>
    <h3>All Transactions</h3>
    <ul>
      <% for(var i = 0; i < allTransactions.length; i++){%>
        <li>
          <h5><a href='/transactions/<%=allTransactions[i]._id%>'><%=allTransactions[i].customer[0].firstName%></a></h5>
          <ul>
            <%for(var j = 0; j < allTransactions[i].deliveries.length; j++){%>
              <li>Delivery Price: <%=allTransactions[i].deliveries[j].price%></li>
            <%}%>
              <li>Total: <%allTransactions[i].total%></li>
          </ul>
        </li>
      <%}%>
    </ul>

  </body>
</html>
