<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Customer</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/customers'>Back to Customers</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </nav>
    <h1>Add A New Customer</h1>
    <main>
      <form action="/customers/" method="POST">
        <input type="text" name="name" value="Name"/><br/>
      </form>
    </main>

  </body>
</html>
